<%- include('partials/header') %>

<head>
    <title>Withdrawal View</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/assetss/index.css"> 
    <link rel="stylesheet" href="/assets0/notify.css">
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        .list-group-item {
            background-color: #1a1a1a;
            border: 1px solid #333;
            color: #fff;
        }
        .list-group-item b {
            color: #fff;
        }
        .breadcrumb-item {
            color: #fff;
        }
        .breadcrumb-item.active {
            color: #ccc;
        }
        .text-muted {
            color: #aaa !important;
        }
    </style>
</head>
<body>
    <section class="content">
        <div id="a-notification" class="notification gone d-flex justify-content-start">
            <div class="d-flex flex-column"></div>
        </div>

        <div class="d-flex justify-content-between from-top">
            <div>
                <a href="/adminnavbarPage"><img src="/assetss/img/ham.svg" alt="MENU" /></a>
            </div>
            <div class="d-flex flex-column">
                <div id="google_translate_element"></div>
                <script type="text/javascript">
                    function googleTranslateElementInit() {
                        new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
                    }
                </script>
                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            </div>
            <div>
                <a href="/account"><div class="ph"><img src="/assetss/img/pers.svg" alt="PROFILE" /></div></a>
            </div>
        </div>

        <div class="d-flex justify-content-evenly flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2 text-white">Withdrawal Details</h1>
            <div class="btn-toolbar mb-2 mb-md-0"></div>
        </div>

        <div class="col py-3">
            <div class="row">
                <div class="col">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/allWidthdrawals" class="text-white">All Withdrawals</a></li>
                            <li class="breadcrumb-item active" aria-current="page">
                                <%= widthdraw.owner ? widthdraw.owner.fullname : 'Unknown User' %>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div class="col text-end text-muted">
                    <b>Withdrawal ID:</b> <%= widthdraw._id %>
                </div>
            </div>
        </div>

        <ul class="list-group">
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Withdrawal Method:</b></div>
                    <div class="col"><%= widthdraw.type || 'N/A' %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Amount:</b></div>
                    <div class="col">$<%= widthdraw.amount.toFixed(2) %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Status:</b></div>
                    <div class="col">
                        <span class="<%= widthdraw.status === 'pending' ? 'text-warning' : widthdraw.status === 'approved' ? 'text-success' : 'text-danger' %>">
                            <%= widthdraw.status.charAt(0).toUpperCase() + widthdraw.status.slice(1) %>
                        </span>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Narration:</b></div>
                    <div class="col"><%= widthdraw.narration || 'N/A' %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Owner:</b></div>
                    <div class="col">
                        <%= widthdraw.owner ? `${widthdraw.owner.fullname} (${widthdraw.owner.email})` : 'Unknown User' %>
                    </div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Date Created:</b></div>
                    <div class="col"><%= widthdraw.createdAt.toLocaleString() %></div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col" style="max-width: 140px"><b>Date Modified:</b></div>
                    <div class="col"><%= widthdraw.updatedAt.toLocaleString() %></div>
                </div>
            </li>
        </ul>
    </section>

<%- include('partials/footer') %>